<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
</head>
<body background="https://www.freepptbackgrounds.net/wp-content/uploads/2017/06/Cute-Pink-Curtain-Background.jpg">
    <font color=brown style ="font-family: courier">
    <div align = "center"><h1>Selamat Datang di Web Pertama Saya!</h1></div>
    <strong>
    <article>Nama               : {{nama}}</article>
    <article>NPM                : {{ npm }}</article>
    <article>Universitas        : {{univ}}</article>
	<article>Hobby              : {{hobby}} </article>
	<article>Deskripsi Diri     : {{desc}}</article>
    <br> <br> 
    </color>
</strong>
</font>
<div style="text-align: center;">
    <img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/40893095_2054821321215202_8535132626074206208_n.jpg?_nc_cat=0&oh=1199c9aa8e8b6fb11eb6dcb9c834aaa0&oe=5C2B7541" title="Aulia Ramadhani" width="350" >
    </div>
    <br> <br> <br>

<font color=brown style ="font-family: courier">
    <strong>
    <article>Nama               : Saffanah Fausta Lamis</article>
    <article>NPM                : 1706043683</article>
    <article>Universitas        : Universitas Indonesia</article>
    <article>Hobby              : Jalan-jalan dan menonton film</article>
    <article>Deskripsi Diri     : Saffa teman saya kemanapun pergi. Saffa berasal dari bandung. Saffa pinter dan baik.</article>
    <br> <br> <br>
    </color>
</strong>
</font>
<div style="text-align: center;">
    <img src="https://2.bp.blogspot.com/-K6Tliy0-gkg/V1u2Hh7jqbI/AAAAAAAAAHQ/wPCxx16F5zUM3IQfS7mQ7yQdt00gNYrBgCLcB/s1600/IMG_6297.JPG" title=Saffa width="350" >
    </div>

<font color=brown style ="font-family: courier">
    <strong>
    <article>Nama               : Meiska Kurniawati</article>
    <article>NPM                : 1706043355</article>
    <article>Universitas        : Universitas Indonesia</article>
    <article>Hobby              : Makan</article>
    <article>Deskripsi Diri     : Meiska biasa dipanggil Memes. Memes berasal dari padang. Memes teman saya saat DDP1 </article>
    <br> <br> <br>
    </color>
</strong>
</font>
<div style="text-align: center;">
    <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/41278008_2064343973616930_4591613252546330624_n.jpg?_nc_cat=0&oh=eb37beecf8badcd5c698e1933aece0a4&oe=5C289A50" title=Meiska width="350" >
    </div>





</body>
</html>
