<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css_aul">

    <title>Profil</title>
  </head>
  <body style="background-color:lavenderblush;">

<!-- navigasi barrr-->

 <nav aria-label="breadcrumb">
    {% block content %} {% endblock %}
    </nav>
     {% include 'navbar.html' %}


<!-- belah 2 tapi gak rata -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="background-color:lavenderblush;"><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42098044_2071323442898323_4744521329598791680_n.jpg?_nc_cat=101&oh=a2ebb2500f9d420e9156fb5978c2dadd&oe=5C274F59" style="height: auto; width: 100%"></div>
    <div class="col-sm-8" style="background-color:lavenderblush;">
          <div class="bg-1">
          <div class="container text-center">
          <br><br>
          <img src="https://image.ibb.co/ivOWp9/crop_foto_aul.gif" style="height: auto; width: 30%">
          <br><br><br><br>
          <h3>Perkenalkan nama saya Aulia Ramadhani. Saat ini saya masih menjadi mahasiswa Universitas Indonesia Fakultas Ilmu Kompouter, jurusan Sistem Informasi. Saya menyukai banyak hal, terutama dalam hal Sosial. Kenal saya lebih jauh dengan melihat - lihat web ini. Selamat menikmati karya saya :)</h3>
          </div>
    </div>


    </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>