<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Prestasi</title>

  </head>

  
  <body style="background-color:lavenderblush;">

<!-- navigasi barrr-->

<body class="bg">
    <nav aria-label="breadcrumb">
    {% block content %} {% endblock %}
    </nav>
     {% include 'navbar.html' %}


<!-- belah 2 tapi gak rata -->

<div class="container-fluid bg-3 text-center">    
  <br><br>
  <h1>PRESTASI</h1>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://image.ibb.co/kLJNgp/153737688273556883.gif" alt="Image" style="height: auto; width: 50%">
       <br><br>
     <h2>Juara 1</h2>
     <h6>Lomba Paduan Suara Tingkat Nasional</h6>
    </div>
    <div class="col-sm-4"> 
      <img src="https://image.ibb.co/jJUZu9/debatttt.gif" alt="Image" style="height: auto; width: 50%">
       <br><br>
     <h2>Juara 3</h2>
     <h6>Lomba Debat Inggris Junior</h6>
    </div>
    <div class="col-sm-4"> 
      <img src="https://image.ibb.co/mt6Q1p/tari.gif" alt="Image" style="height: auto; width: 50%">
      <br><br>
     <h2>Juara 2</h2>
     <h6>Lomba Tari Tradisional Betawi Tingkat Jakarta Timur</h6>
    </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>