<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:lavenderblush;">

  <body class="bg">
    <nav aria-label="breadcrumb">
    {% block content %} {% endblock %}
    </nav>
     {% include 'navbar.html' %}

<div class="container">
  <br>
  <h1 class="container-fluid bg-3 text-center">PEGALAMAN</h1>
  <br><br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <div class="container-fluid bg-3 text-center"><img src="https://preview.ibb.co/hbeLj9/IMG_1273.jpg" alt="Los Angeles" style="width:100%;"></div>
        
        <div class="carousel-caption">
          <h1>Compfest X</h1>
          <h3>Pertemuan pertama semua anggota Compfest X</h3>
        </div>
      </div>

      <div class="item">
        <div class="container-fluid bg-3 text-center"><img src="https://image.ibb.co/n58KcU/Raker_Februari_2018_180926_0017.jpg" alt="Los Angeles" style="width:100%;"></div>
        
        <div class="carousel-caption">
          <h1>BEM Fasilkom UI 2018</h1>
          <h3>Rapat besar pertama semua anggota BEM Fasilkom UI 2018</h3>
        </div>
      </div>

      <div class="item">
       <div class="container-fluid bg-3 text-center"><img src="https://image.ibb.co/bW82xU/sikolaa_180926_0002.jpg" alt="Los Angeles" style="width:100%;"></div>
        <div class="carousel-caption">
          <h1>Donasi Sikola</h1>
          <h3>Membantu menyalurkan donasi dari donatur kepada seluruh elemen Fasilkom UI non-Mahasiswa</h3>
        </div>
      </div>
    
      <div class="item">
        <div class="container-fluid bg-3 text-center"><img src="https://image.ibb.co/eL7O49/1537931093079.jpg" alt="Los Angeles" style="width:100%;"></div>
        <div class="carousel-caption">
          <h1>BETIS 2018</h1>
          <h3>Aim for the stars! Memfasilitasi mewujudkan mimpi seseorang untuk lanjut berkuliah ke perguruan tinggi yang diimpikan :)</h3>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>
