<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <title>Kontak</title>
  </head>
  <body style="background-color: lavenderblush">
    
    <!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .bg-1 { 
      background-color: lavenderblush;
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d;
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #474e5d;
      color: #ffffff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  </style>
</head>
<body>

    <nav aria-label="breadcrumb">
    {% block content %} {% endblock %}
    </nav>
     {% include 'navbar.html' %}

<div class="container-fluid bg-1 text-center">
  <h1 style="font-size: 1000% ; color: black">KONTAK</h1>
</div>

<div class="container-fluid bg-2 text-center">
   <a href="https://twitter.com/auliavizta"><img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/37facfb33f374bd6b3d26d1782fed2c4?quality=95&fake=.png" style="margin:40px; height: auto; width: 10%"></a> 
   <a href="https://web.facebook.com/aulia.ramadhani.7547?ref=bookmarks"><img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/cb133c8b780b437496cd57cc6fb597cd?quality=95&fake=.png" style="margin:40px; height: auto; width: 10%"></a> 
    <a href="https://mail.google.com/mail/u/0/#inbox"><img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/c721c8263bb543cc996f004433fe5695?quality=95&fake=.png" style="margin:40px; height: auto; width: 10%"></a> 
    <a href="https://www.linkedin.com/in/aulia-ramadhani-2b2147148/"><img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/2ac3b0481bde40db89c9480ee2c31c8c?quality=95&fake=.png" style="margin:40px; height: auto; width: 10%"></a> 
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>