<!DOCTYPE html>
<html>
<head>
	<title>Registrasi</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>

<body style="background-color:lavenderblush;">
    <nav aria-label="breadcrumb">
    {% block content %} {% endblock %}
    </nav>
     {% include 'navbar.html' %}
	
  <div class="container-fluid bg-1 text-center">
  <img src="https://artsealiving.com/wp-content/uploads/2018/03/Button-registration-1.png"  style="height: auto; width: 50%">
</div>
		

	<form>
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Nama</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Masukan Nama">
    </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Tanggal Lahir</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="inputEmail3" placeholder="Masukkan Tanggal Lahir">
    </div>


<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Nama User</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Masukkan Username">
    </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Masukkan Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Masukkan Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Konfirmasi Kata Sandi</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Masukkan Konfirmasi Kata Sandi">
    </div>
</div>


  <div class="form-group">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Daftar</button>
    </div>
  </div>
</form>
</div>


  	 

</body>
</html>