<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Form Penyusunan Jadwal</title>
</head>
<body style="background-color:lavenderblush;">
	 <nav aria-label="breadcrumb">
    {% block content %} {% endblock %}
    </nav>
     {% include 'navbar.html' %}

     <h1 class="container-fluid bg-3 text-center">Isi Jadwal Kamu!</h1>
<div style="margin: 5% 20%">
<form id ="form" method = "POST" action= "{% url 'isijadwal' %}">
     {% csrf_token %}
     {{message_form.as_p}}
    <br>
    <button type= "submit" class= "btn btn-success">Submit</button>

</form>
</div>
    
</body>
</html>