<!DOCTYPE html>
<html>
<head>
	<title>List Jadwal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Istok+Web:700|Karla:400,700" rel="stylesheet">
	{% include "navbar.html" %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
</head>
<body style="background-color:lavenderblush;">
	<div style="margin: 5% 8%">
	{% csrf_token %}
    {% if message %} 
        <table class="table">
            <tr bgcolor="#F5A9F2">
                <th scope="col">Kegiatan</th>
                <th scope="col">Hari</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Waktu</th>
                <th scope="col">Tempat</th>
                <th scope="col">Kategori</th>
            </tr>
            {% for item in message %}
            <tr bgcolor="#F8E0F7">
                <td>{{ item.kegiatan }}</td>
                <td>{{ item.hari }}</td>
                <td>{{ item.tanggal }}</td>
                <td>{{ item.waktu }}</td>
                <td>{{ item.tempat }}</td>
                <td>{{ item.kategori }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="../hapusjadwal" class="btn btn-danger btn-lg active" role="button" aria-pressed="true" >Hapus Jadwal</a>
    {% else %}
        <h2 class="container-fluid bg-3 text-center">Tidak Punya Jadwal</h2>
    {% endif %}
    </div>
</body>
</html>