 



 
  {% block content %} 
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="..">Beranda</a></li>
    <li class="breadcrumb-item"><a href="../profil">Profil</a></li>
    <li class="breadcrumb-item"><a href="../prestasi">Prestasi</a></li>
    <li class="breadcrumb-item"><a href="../pengalaman">Pengalaman</a></li>
    <li class="breadcrumb-item"><a href="../kontak">Kontak</a></li>
    <li class="breadcrumb-item"><a href="../registrasi">Registrasi</a></li>
	  <li class="breadcrumb-item"><a href="../isijadwal">Isi Jadwal</a></li>
    <li class="breadcrumb-item"><a href="../jadwalresult">List Jadwal</a></li>
  </ol>
  {% endblock %}

